@import '../../styles/variable'

.introduction_bg
    display: $flex
    width: $full_width
    justify-content: $center
    height: 675px
    position: $position_relative

.introduction_container
    margin: $zero $auto
    @extend %container_width
    position: $position_absolute
    bottom: $zero

.image
    background: grey
    width: 320px
    height: 320px
